<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<form action="/Login/CheckUser" method="post">
UserName<input type=text name="UserName"/><br>
Password<input type=text name="Password"/><br>
<input type=submit value="Login"/>
</form>
</body>
</html>
