<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Task</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
<script src="/Task/dist/Task/runtime-es2015.js" type="module"></script><script src="/Task/dist/Task/polyfills-es2015.js" type="module"></script><script src="/Task/dist/Task/runtime-es5.js" nomodule></script><script src="/Task/dist/Task/polyfills-es5.js" nomodule></script><script src="/Task/dist/Task/styles-es2015.js" type="module"></script><script src="/Task/dist/Task/styles-es5.js" nomodule></script><script src="/Task/dist/Task/vendor-es2015.js" type="module"></script><script src="/Task/dist/Task/main-es2015.js" type="module"></script><script src="/Task/dist/Task/vendor-es5.js" nomodule></script><script src="/Task/dist/Task/main-es5.js" nomodule></script></body>
</html>
